@page
@model AboutModel
@{
    ViewData["Title"] = "About the Team";
}
<h1>@ViewData["Title"]</h1>
<br />
<h4>@Model.EvanMessage</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore<br/>
    magna aliqua. Tellus orci ac auctor augue mauris. Mauris rhoncus aenean vel elit scelerisque mauris<br/>
    pellentesque pulvinar. Sed elementum tempus egestas sed sed. Id nibh tortor id aliquet lectus. Sem integer<br/>
    vitae justo eget magna fermentum. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Dictum<br/>
    varius duis at consectetur lorem donec. In hendrerit gravida rutrum quisque non tellus. Sit amet consectetur<br/>
    adipiscing elit pellentesque habitant morbi tristique. Magna fermentum iaculis eu non. Pellentesque massa<br/>
    placerat duis ultricies. Purus gravida quis blandit turpis cursus in. Quisque non tellus orci ac auctor.<br/>
    Netus et malesuada fames ac turpis egestas. Volutpat est velit egestas dui id ornare arcu. Eget egestas purus<br/>
    viverra accumsan in nisl nisi.</p>

<br />
<h4>@Model.KailashMessage</h4>

<p>In tellus integer feugiat scelerisque varius morbi. Quis enim lobortis scelerisque fermentum dui. Nullam<br/>
    vehicula ipsum a arcu cursus vitae congue mauris. Commodo quis imperdiet massa tincidunt nunc pulvinar<br/>
    sapien. Arcu bibendum at varius vel pharetra vel turpis nunc. Leo urna molestie at elementum eu facilisis.<br/>
    Facilisis volutpat est velit egestas dui id ornare arcu odio. Vulputate sapien nec sagittis aliquam malesuada<br/>
    bibendum arcu. Lacinia quis vel eros donec ac. Scelerisque felis imperdiet proin fermentum leo. Nisi scelerisque<br/>
    eu ultrices vitae. Tellus cras adipiscing enim eu turpis.</p>

<br />
<h4>@Model.EdwardMessage</h4>

<p>Suspendisse interdum consectetur libero id faucibus. Molestie nunc non blandit massa. Ut pharetra sit amet<br/>
    aliquam id diam maecenas ultricies. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Donec<br/>
    et odio pellentesque diam volutpat commodo. Eget est lorem ipsum dolor sit amet consectetur. In nisl nisi<br/>
    scelerisque eu ultrices vitae auctor eu. Integer eget aliquet nibh praesent. Pellentesque massa placerat duis<br/>
    ultricies lacus sed turpis tincidunt. At imperdiet dui accumsan sit amet nulla facilisi. Maecenas volutpat blandit<br/>
    aliquam etiam erat velit scelerisque in dictum. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque<br/>
    viverra. Facilisis leo vel fringilla est ullamcorper eget. Diam volutpat commodo sed egestas egestas.<br/>
    Vestibulum morbi blandit cursus risus. Viverra mauris in aliquam sem fringilla ut morbi. Nec feugiat in<br/>
    fermentum posuere urna. Ut lectus arcu bibendum at varius vel pharetra vel.</p>

<br />
<h4>@Model.DeanMessage</h4>

<p>Id velit ut tortor pretium viverra suspendisse potenti nullam ac. Vivamus at augue eget arcu dictum varius.<br/>
    Diam quam nulla porttitor massa id neque aliquam vestibulum. Risus quis varius quam quisque id diam vel. Sit amet<br/>
    cursus sit amet dictum sit amet justo donec. Eu augue ut lectus arcu bibendum at varius vel pharetra. Sollicitudin<br/>
    ac orci phasellus egestas tellus rutrum tellus pellentesque eu. Tortor posuere ac ut consequat semper viverra<br/>
    nam libero justo. Eu ultrices vitae auctor eu. Elit duis tristique sollicitudin nibh sit amet. Est lorem ipsum dolor<br/>
    sit amet consectetur. Convallis convallis tellus id interdum velit laoreet id donec ultrices.</p>

<br />
<h4>@Model.BrianMessage</h4>

<p>Urna duis convallis convallis tellus id interdum velit laoreet. Suscipit tellus mauris a diam maecenas sed enim<br/>
    ut sem. In hendrerit gravida rutrum quisque non. Sodales ut etiam sit amet nisl purus in mollis nunc. Neque viverra<br/>
    justo nec ultrices dui. Nulla pellentesque dignissim enim sit. Sapien nec sagittis aliquam malesuada bibendum arcu.<br/>
    Enim diam vulputate ut pharetra sit amet aliquam id diam. Nisi scelerisque eu ultrices vitae auctor eu augue.<br/>
    Ullamcorper sit amet risus nullam eget felis. Lacinia quis vel eros donec. Amet consectetur adipiscing elit<br/>
    pellentesque.</p>