@page
@model AboutModel
@{
    ViewData["Title"] = "About the Team";
}
<h1>@ViewData["Title"]</h1>
<br />
<h4>@Model.EvanMessage</h4>

<p>
    Evan is a senior year student currently enrolled at the University at Buffalo.<br />
    Intending to graduate with a Bachelors degree in Computer Science, he brings a wide familiarity in backend developement techniques.<br />
</p>

<br />
<h4>@Model.KailashMessage</h4>

<p>
    Kailash is a senior year student currently enrolled at the University at Buffalo.<br />
    Intending to graduate with a Bachelors degree in Computer Science, he brings a wide familiarity in frontend developement techniques and UI design.<br />
</p>

<br />
<h4>@Model.EdwardMessage</h4>
<p>
    Edward is a senior year student currently enrolled at the University at Buffalo.<br />
    Intending to graduate with a Bachelors degree in Computer Science, he brings a wide familiarity in quality assurance testing.<br />
</p>

<br />
<h4>@Model.DeanMessage</h4>

<p>
    Dean is a senior year student currently enrolled at the University at Buffalo.<br />
    Intending to graduate with a Bachelors degree in Computer Engineering, he brings a wide familiarity in the .NET framework and GitHub integration.<br />
</p>

<br />
<h4>@Model.BrianMessage</h4>
<p>
    Brian is a senior year student currently enrolled at the University at Buffalo.<br />
    Intending to graduate with a Bachelors degree in Computer Science, he brings a wide familiarity in site configurations and IIS content.<br />
</p>
